# Logistic Regression Consulting Project

## Binary Customer Churn

A marketing agency has many customers that use their service to produce ads for the client/customer websites. They've noticed that they have quite a bit of churn in clients. They basically randomly assign account managers right now, but want you to create a machine learning model that will help predict which customers will churn (stop buying their service) so that they can correctly assign the customers most at risk to churn an account manager. Luckily they have some historical data, can you help them out? Create a classification algorithm that will help classify whether or not a customer churned. Then the company can test this against incoming data for future customers to predict which customers will churn and assign them an account manager.

The data is saved as customer_churn.csv. Here are the fields and their definitions:

    Name : Name of the latest contact at Company
    Age: Customer Age
    Total_Purchase: Total Ads Purchased
    Account_Manager: Binary 0=No manager, 1= Account manager assigned
    Years: Totaly Years as a customer
    Num_sites: Number of websites that use the service.
    Onboard_date: Date that the name of the latest contact was onboarded
    Location: Client HQ Address
    Company: Name of Client Company
    
Once you've created the model and evaluated it, test out the model on some new data (you can think of this almost like a hold-out set) that your client has provided, saved under new_customers.csv. The client wants to know which customers are most likely to churn given this data (they don't have the label yet).

In [1]:
import findspark
findspark.init('/home/huascar/spark-3.5.6-bin-hadoop3')
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('lr_cons_proj').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/08/19 16:48:50 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df = spark.read.csv('customer_churn.csv',inferSchema=True,header=True)

In [4]:
df.printSchema()

root
 |-- Names: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Total_Purchase: double (nullable = true)
 |-- Account_Manager: integer (nullable = true)
 |-- Years: double (nullable = true)
 |-- Num_Sites: double (nullable = true)
 |-- Onboard_date: timestamp (nullable = true)
 |-- Location: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Churn: integer (nullable = true)

In [13]:
df.columns

['Names',
 'Age',
 'Total_Purchase',
 'Account_Manager',
 'Years',
 'Num_Sites',
 'Onboard_date',
 'Location',
 'Company',
 'Churn']

In [16]:
df['Names','Age', 'Total_Purchase', 'Account_Manager', 'Years', 'Num_Sites'].show()
df[ 'Onboard_date', 'Location', 'Company', 'Churn'].show()

+-------------------+----+--------------+---------------+-----+---------+
|              Names| Age|Total_Purchase|Account_Manager|Years|Num_Sites|
+-------------------+----+--------------+---------------+-----+---------+
|   Cameron Williams|42.0|       11066.8|              0| 7.22|      8.0|
|      Kevin Mueller|41.0|      11916.22|              0|  6.5|     11.0|
|        Eric Lozano|38.0|      12884.75|              0| 6.67|     12.0|
|      Phillip White|42.0|       8010.76|              0| 6.71|     10.0|
|     Cynthia Norton|37.0|       9191.58|              0| 5.56|      9.0|
|   Jessica Williams|48.0|      10356.02|              0| 5.12|      8.0|
|        Eric Butler|44.0|      11331.58|              1| 5.23|     11.0|
|      Zachary Walsh|32.0|       9885.12|              1| 6.92|      9.0|
|        Ashlee Carr|43.0|       14062.6|              1| 5.46|     11.0|
|     Jennifer Lynch|40.0|       8066.94|              1| 7.11|     11.0|
|       Paula Harris|30.0|      11575.37|              1| 5.22|      8.0|
|     Bruce Phillips|45.0|       8771.02|              1| 6.64|     11.0|
|       Craig Garner|45.0|       8988.67|              1| 4.84|     11.0|
|       Nicole Olson|40.0|       8283.32|              1|  5.1|     13.0|
|     Harold Griffin|41.0|       6569.87|              1|  4.3|     11.0|
|       James Wright|38.0|      10494.82|              1| 6.81|     12.0|
|      Doris Wilkins|45.0|       8213.41|              1| 7.35|     11.0|
|Katherine Carpenter|43.0|      11226.88|              0| 8.08|     12.0|
|     Lindsay Martin|53.0|       5515.09|              0| 6.85|      8.0|
|        Kathy Curry|46.0|        8046.4|              1| 5.69|      8.0|
+-------------------+----+--------------+---------------+-----+---------+
only showing top 20 rows

+-------------------+--------------------+--------------------+-----+
|       Onboard_date|            Location|             Company|Churn|
+-------------------+--------------------+--------------------+-----+
|2013-08-30 07:00:40|10265 Elizabeth M...|          Harvey LLC|    1|
|2013-08-13 00:38:46|6157 Frank Garden...|          Wilson PLC|    1|
|2016-06-29 06:20:07|1331 Keith Court ...|Miller, Johnson a...|    1|
|2014-04-22 12:43:12|13120 Daniel Moun...|           Smith Inc|    1|
|2016-01-19 15:31:15|765 Tricia Row Ka...|          Love-Jones|    1|
|2009-03-03 23:13:37|6187 Olson Mounta...|        Kelly-Warren|    1|
|2016-12-05 03:35:43|4846 Savannah Roa...|   Reynolds-Sheppard|    1|
|2006-03-09 14:50:20|25271 Roy Express...|          Singh-Cole|    1|
|2011-09-29 05:47:23|3725 Caroline Str...|           Lopez PLC|    1|
|2006-03-28 15:42:45|363 Sandra Lodge ...|       Reed-Martinez|    1|
|2016-11-13 13:13:01|Unit 8120 Box 916...|Briggs, Lamb and ...|    1|
|2015-05-28 12:14:03|Unit 1895 Box 094...|    Figueroa-Maynard|    1|
|2011-02-16 08:10:47|897 Kelley Overpa...|     Abbott-Thompson|    1|
|2012-11-22 05:35:03|11488 Weaver Cape...|Smith, Kim and Ma...|    1|
|2015-03-28 02:13:44|1774 Peter Row Ap...|Snyder, Lee and M...|    1|
|2015-07-22 08:38:40|45408 David Path ...|      Sanders-Pierce|    1|
|2006-09-03 06:13:55|28216 Wright Moun...|Andrews, Adams an...|    1|
|2006-10-22 04:42:38|Unit 4948 Box 481...|Morgan, Phillips ...|    1|
|2015-10-07 00:27:10|69203 Crosby Divi...|      Villanueva LLC|    1|
|2014-11-06 23:47:14|9569 Caldwell Cre...|Berry, Orr and Ca...|    1|
+-------------------+--------------------+--------------------+-----+
only showing top 20 rows

In [18]:
#Verify if nulls exist
from pyspark.sql import functions as F
df.select([F.count(F.when(F.col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+-----+---+--------------+---------------+-----+---------+------------+--------+-------+-----+
|Names|Age|Total_Purchase|Account_Manager|Years|Num_Sites|Onboard_date|Location|Company|Churn|
+-----+---+--------------+---------------+-----+---------+------------+--------+-------+-----+
|    0|  0|             0|              0|    0|        0|           0|       0|      0|    0|
+-----+---+--------------+---------------+-----+---------+------------+--------+-------+-----+

In [19]:
#Verify categoric Account Manager x Churn
df.groupBy("Account_Manager", "Churn").count().show()

+---------------+-----+-----+
|Account_Manager|Churn|count|
+---------------+-----+-----+
|              1|    0|  349|
|              1|    1|   84|
|              0|    0|  401|
|              0|    1|   66|
+---------------+-----+-----+

In [24]:
#COnvert on-board date to years from that date
from pyspark.sql import functions as F
df = df.withColumn("years_from_onboard", F.round(F.months_between(F.current_date(), F.col("Onboard_date")) / 12, 1))
df['Names','Age', 'Total_Purchase', 'Account_Manager', 'Years', 'Num_Sites'].show()
df[ 'Onboard_date', 'Location', 'Company', 'Churn', 'years_from_onboard'].show()

+-------------------+----+--------------+---------------+-----+---------+
|              Names| Age|Total_Purchase|Account_Manager|Years|Num_Sites|
+-------------------+----+--------------+---------------+-----+---------+
|   Cameron Williams|42.0|       11066.8|              0| 7.22|      8.0|
|      Kevin Mueller|41.0|      11916.22|              0|  6.5|     11.0|
|        Eric Lozano|38.0|      12884.75|              0| 6.67|     12.0|
|      Phillip White|42.0|       8010.76|              0| 6.71|     10.0|
|     Cynthia Norton|37.0|       9191.58|              0| 5.56|      9.0|
|   Jessica Williams|48.0|      10356.02|              0| 5.12|      8.0|
|        Eric Butler|44.0|      11331.58|              1| 5.23|     11.0|
|      Zachary Walsh|32.0|       9885.12|              1| 6.92|      9.0|
|        Ashlee Carr|43.0|       14062.6|              1| 5.46|     11.0|
|     Jennifer Lynch|40.0|       8066.94|              1| 7.11|     11.0|
|       Paula Harris|30.0|      11575.37|              1| 5.22|      8.0|
|     Bruce Phillips|45.0|       8771.02|              1| 6.64|     11.0|
|       Craig Garner|45.0|       8988.67|              1| 4.84|     11.0|
|       Nicole Olson|40.0|       8283.32|              1|  5.1|     13.0|
|     Harold Griffin|41.0|       6569.87|              1|  4.3|     11.0|
|       James Wright|38.0|      10494.82|              1| 6.81|     12.0|
|      Doris Wilkins|45.0|       8213.41|              1| 7.35|     11.0|
|Katherine Carpenter|43.0|      11226.88|              0| 8.08|     12.0|
|     Lindsay Martin|53.0|       5515.09|              0| 6.85|      8.0|
|        Kathy Curry|46.0|        8046.4|              1| 5.69|      8.0|
+-------------------+----+--------------+---------------+-----+---------+
only showing top 20 rows

+-------------------+--------------------+--------------------+-----+------------------+
|       Onboard_date|            Location|             Company|Churn|years_from_onboard|
+-------------------+--------------------+--------------------+-----+------------------+
|2013-08-30 07:00:40|10265 Elizabeth M...|          Harvey LLC|    1|              12.0|
|2013-08-13 00:38:46|6157 Frank Garden...|          Wilson PLC|    1|              12.0|
|2016-06-29 06:20:07|1331 Keith Court ...|Miller, Johnson a...|    1|               9.1|
|2014-04-22 12:43:12|13120 Daniel Moun...|           Smith Inc|    1|              11.3|
|2016-01-19 15:31:15|765 Tricia Row Ka...|          Love-Jones|    1|               9.6|
|2009-03-03 23:13:37|6187 Olson Mounta...|        Kelly-Warren|    1|              16.5|
|2016-12-05 03:35:43|4846 Savannah Roa...|   Reynolds-Sheppard|    1|               8.7|
|2006-03-09 14:50:20|25271 Roy Express...|          Singh-Cole|    1|              19.4|
|2011-09-29 05:47:23|3725 Caroline Str...|           Lopez PLC|    1|              13.9|
|2006-03-28 15:42:45|363 Sandra Lodge ...|       Reed-Martinez|    1|              19.4|
|2016-11-13 13:13:01|Unit 8120 Box 916...|Briggs, Lamb and ...|    1|               8.8|
|2015-05-28 12:14:03|Unit 1895 Box 094...|    Figueroa-Maynard|    1|              10.2|
|2011-02-16 08:10:47|897 Kelley Overpa...|     Abbott-Thompson|    1|              14.5|
|2012-11-22 05:35:03|11488 Weaver Cape...|Smith, Kim and Ma...|    1|              12.7|
|2015-03-28 02:13:44|1774 Peter Row Ap...|Snyder, Lee and M...|    1|              10.4|
|2015-07-22 08:38:40|45408 David Path ...|      Sanders-Pierce|    1|              10.1|
|2006-09-03 06:13:55|28216 Wright Moun...|Andrews, Adams an...|    1|              19.0|
|2006-10-22 04:42:38|Unit 4948 Box 481...|Morgan, Phillips ...|    1|              18.8|
|2015-10-07 00:27:10|69203 Crosby Divi...|      Villanueva LLC|    1|               9.9|
|2014-11-06 23:47:14|9569 Caldwell Cre...|Berry, Orr and Ca...|    1|              10.8|
+-------------------+--------------------+--------------------+-----+------------------+
only showing top 20 rows

In [25]:
#Find current date adding the number of years to the on-board date
df = df.withColumn("current_date", F.add_months(F.col("Onboard_date"), F.col("Years") * 12))
df['Names','Age', 'Total_Purchase', 'Account_Manager', 'Years', 'Num_Sites'].show()
df[ 'Onboard_date', 'Location', 'Company', 'Churn', 'years_from_onboard', 'current_date'].show()

+-------------------+----+--------------+---------------+-----+---------+
|              Names| Age|Total_Purchase|Account_Manager|Years|Num_Sites|
+-------------------+----+--------------+---------------+-----+---------+
|   Cameron Williams|42.0|       11066.8|              0| 7.22|      8.0|
|      Kevin Mueller|41.0|      11916.22|              0|  6.5|     11.0|
|        Eric Lozano|38.0|      12884.75|              0| 6.67|     12.0|
|      Phillip White|42.0|       8010.76|              0| 6.71|     10.0|
|     Cynthia Norton|37.0|       9191.58|              0| 5.56|      9.0|
|   Jessica Williams|48.0|      10356.02|              0| 5.12|      8.0|
|        Eric Butler|44.0|      11331.58|              1| 5.23|     11.0|
|      Zachary Walsh|32.0|       9885.12|              1| 6.92|      9.0|
|        Ashlee Carr|43.0|       14062.6|              1| 5.46|     11.0|
|     Jennifer Lynch|40.0|       8066.94|              1| 7.11|     11.0|
|       Paula Harris|30.0|      11575.37|              1| 5.22|      8.0|
|     Bruce Phillips|45.0|       8771.02|              1| 6.64|     11.0|
|       Craig Garner|45.0|       8988.67|              1| 4.84|     11.0|
|       Nicole Olson|40.0|       8283.32|              1|  5.1|     13.0|
|     Harold Griffin|41.0|       6569.87|              1|  4.3|     11.0|
|       James Wright|38.0|      10494.82|              1| 6.81|     12.0|
|      Doris Wilkins|45.0|       8213.41|              1| 7.35|     11.0|
|Katherine Carpenter|43.0|      11226.88|              0| 8.08|     12.0|
|     Lindsay Martin|53.0|       5515.09|              0| 6.85|      8.0|
|        Kathy Curry|46.0|        8046.4|              1| 5.69|      8.0|
+-------------------+----+--------------+---------------+-----+---------+
only showing top 20 rows

+-------------------+--------------------+--------------------+-----+------------------+------------+
|       Onboard_date|            Location|             Company|Churn|years_from_onboard|current_date|
+-------------------+--------------------+--------------------+-----+------------------+------------+
|2013-08-30 07:00:40|10265 Elizabeth M...|          Harvey LLC|    1|              12.0|  2020-10-30|
|2013-08-13 00:38:46|6157 Frank Garden...|          Wilson PLC|    1|              12.0|  2020-02-13|
|2016-06-29 06:20:07|1331 Keith Court ...|Miller, Johnson a...|    1|               9.1|  2023-02-28|
|2014-04-22 12:43:12|13120 Daniel Moun...|           Smith Inc|    1|              11.3|  2020-12-22|
|2016-01-19 15:31:15|765 Tricia Row Ka...|          Love-Jones|    1|               9.6|  2021-07-19|
|2009-03-03 23:13:37|6187 Olson Mounta...|        Kelly-Warren|    1|              16.5|  2014-04-03|
|2016-12-05 03:35:43|4846 Savannah Roa...|   Reynolds-Sheppard|    1|               8.7|  2022-02-05|
|2006-03-09 14:50:20|25271 Roy Express...|          Singh-Cole|    1|              19.4|  2013-02-09|
|2011-09-29 05:47:23|3725 Caroline Str...|           Lopez PLC|    1|              13.9|  2017-02-28|
|2006-03-28 15:42:45|363 Sandra Lodge ...|       Reed-Martinez|    1|              19.4|  2013-04-28|
|2016-11-13 13:13:01|Unit 8120 Box 916...|Briggs, Lamb and ...|    1|               8.8|  2022-01-13|
|2015-05-28 12:14:03|Unit 1895 Box 094...|    Figueroa-Maynard|    1|              10.2|  2021-12-28|
|2011-02-16 08:10:47|897 Kelley Overpa...|     Abbott-Thompson|    1|              14.5|  2015-12-16|
|2012-11-22 05:35:03|11488 Weaver Cape...|Smith, Kim and Ma...|    1|              12.7|  2017-12-22|
|2015-03-28 02:13:44|1774 Peter Row Ap...|Snyder, Lee and M...|    1|              10.4|  2019-06-28|
|2015-07-22 08:38:40|45408 David Path ...|      Sanders-Pierce|    1|              10.1|  2022-04-22|
|2006-09-03 06:13:55|28216 Wright Moun...|Andrews, Adams an...|    1|              19.0|  2014-01-03|
|2006-10-22 04:42:38|Unit 4948 Box 481...|Morgan, Phillips ...|    1|              18.8|  2014-10-22|
|2015-10-07 00:27:10|69203 Crosby Divi...|      Villanueva LLC|    1|               9.9|  2022-08-07|
|2014-11-06 23:47:14|9569 Caldwell Cre...|Berry, Orr and Ca...|    1|              10.8|  2020-07-06|
+-------------------+--------------------+--------------------+-----+------------------+------------+
only showing top 20 rows

In [26]:
#Get the columns to use in regression
df.columns

['Names',
 'Age',
 'Total_Purchase',
 'Account_Manager',
 'Years',
 'Num_Sites',
 'Onboard_date',
 'Location',
 'Company',
 'Churn',
 'years_from_onboard',
 'current_date']

In [30]:
model_columns = ['Age', 'Total_Purchase', 'Account_Manager', 'Years', 'Num_Sites', 'Churn']
df_model[model_columns].show()
features_columns = ['Age', 'Total_Purchase', 'Account_Manager', 'Years', 'Num_Sites']

+----+--------------+---------------+-----+---------+-----+
| Age|Total_Purchase|Account_Manager|Years|Num_Sites|Churn|
+----+--------------+---------------+-----+---------+-----+
|42.0|       11066.8|              0| 7.22|      8.0|    1|
|41.0|      11916.22|              0|  6.5|     11.0|    1|
|38.0|      12884.75|              0| 6.67|     12.0|    1|
|42.0|       8010.76|              0| 6.71|     10.0|    1|
|37.0|       9191.58|              0| 5.56|      9.0|    1|
|48.0|      10356.02|              0| 5.12|      8.0|    1|
|44.0|      11331.58|              1| 5.23|     11.0|    1|
|32.0|       9885.12|              1| 6.92|      9.0|    1|
|43.0|       14062.6|              1| 5.46|     11.0|    1|
|40.0|       8066.94|              1| 7.11|     11.0|    1|
|30.0|      11575.37|              1| 5.22|      8.0|    1|
|45.0|       8771.02|              1| 6.64|     11.0|    1|
|45.0|       8988.67|              1| 4.84|     11.0|    1|
|40.0|       8283.32|              1|  5.1|     13.0|    1|
|41.0|       6569.87|              1|  4.3|     11.0|    1|
|38.0|      10494.82|              1| 6.81|     12.0|    1|
|45.0|       8213.41|              1| 7.35|     11.0|    1|
|43.0|      11226.88|              0| 8.08|     12.0|    1|
|53.0|       5515.09|              0| 6.85|      8.0|    1|
|46.0|        8046.4|              1| 5.69|      8.0|    1|
+----+--------------+---------------+-----+---------+-----+
only showing top 20 rows

In [31]:
# Create features column
from pyspark.ml.feature import VectorAssembler
assembler = VectorAssembler(inputCols=features_columns,outputCol='features')
df = assembler.transform(df)
df.show()

+-------------------+----+--------------+---------------+-----+---------+-------------------+--------------------+--------------------+-----+------------------+------------+--------------------+
|              Names| Age|Total_Purchase|Account_Manager|Years|Num_Sites|       Onboard_date|            Location|             Company|Churn|years_from_onboard|current_date|            features|
+-------------------+----+--------------+---------------+-----+---------+-------------------+--------------------+--------------------+-----+------------------+------------+--------------------+
|   Cameron Williams|42.0|       11066.8|              0| 7.22|      8.0|2013-08-30 07:00:40|10265 Elizabeth M...|          Harvey LLC|    1|              12.0|  2020-10-30|[42.0,11066.8,0.0...|
|      Kevin Mueller|41.0|      11916.22|              0|  6.5|     11.0|2013-08-13 00:38:46|6157 Frank Garden...|          Wilson PLC|    1|              12.0|  2020-02-13|[41.0,11916.22,0....|
|        Eric Lozano|38.0|      12884.75|              0| 6.67|     12.0|2016-06-29 06:20:07|1331 Keith Court ...|Miller, Johnson a...|    1|               9.1|  2023-02-28|[38.0,12884.75,0....|
|      Phillip White|42.0|       8010.76|              0| 6.71|     10.0|2014-04-22 12:43:12|13120 Daniel Moun...|           Smith Inc|    1|              11.3|  2020-12-22|[42.0,8010.76,0.0...|
|     Cynthia Norton|37.0|       9191.58|              0| 5.56|      9.0|2016-01-19 15:31:15|765 Tricia Row Ka...|          Love-Jones|    1|               9.6|  2021-07-19|[37.0,9191.58,0.0...|
|   Jessica Williams|48.0|      10356.02|              0| 5.12|      8.0|2009-03-03 23:13:37|6187 Olson Mounta...|        Kelly-Warren|    1|              16.5|  2014-04-03|[48.0,10356.02,0....|
|        Eric Butler|44.0|      11331.58|              1| 5.23|     11.0|2016-12-05 03:35:43|4846 Savannah Roa...|   Reynolds-Sheppard|    1|               8.7|  2022-02-05|[44.0,11331.58,1....|
|      Zachary Walsh|32.0|       9885.12|              1| 6.92|      9.0|2006-03-09 14:50:20|25271 Roy Express...|          Singh-Cole|    1|              19.4|  2013-02-09|[32.0,9885.12,1.0...|
|        Ashlee Carr|43.0|       14062.6|              1| 5.46|     11.0|2011-09-29 05:47:23|3725 Caroline Str...|           Lopez PLC|    1|              13.9|  2017-02-28|[43.0,14062.6,1.0...|
|     Jennifer Lynch|40.0|       8066.94|              1| 7.11|     11.0|2006-03-28 15:42:45|363 Sandra Lodge ...|       Reed-Martinez|    1|              19.4|  2013-04-28|[40.0,8066.94,1.0...|
|       Paula Harris|30.0|      11575.37|              1| 5.22|      8.0|2016-11-13 13:13:01|Unit 8120 Box 916...|Briggs, Lamb and ...|    1|               8.8|  2022-01-13|[30.0,11575.37,1....|
|     Bruce Phillips|45.0|       8771.02|              1| 6.64|     11.0|2015-05-28 12:14:03|Unit 1895 Box 094...|    Figueroa-Maynard|    1|              10.2|  2021-12-28|[45.0,8771.02,1.0...|
|       Craig Garner|45.0|       8988.67|              1| 4.84|     11.0|2011-02-16 08:10:47|897 Kelley Overpa...|     Abbott-Thompson|    1|              14.5|  2015-12-16|[45.0,8988.67,1.0...|
|       Nicole Olson|40.0|       8283.32|              1|  5.1|     13.0|2012-11-22 05:35:03|11488 Weaver Cape...|Smith, Kim and Ma...|    1|              12.7|  2017-12-22|[40.0,8283.32,1.0...|
|     Harold Griffin|41.0|       6569.87|              1|  4.3|     11.0|2015-03-28 02:13:44|1774 Peter Row Ap...|Snyder, Lee and M...|    1|              10.4|  2019-06-28|[41.0,6569.87,1.0...|
|       James Wright|38.0|      10494.82|              1| 6.81|     12.0|2015-07-22 08:38:40|45408 David Path ...|      Sanders-Pierce|    1|              10.1|  2022-04-22|[38.0,10494.82,1....|
|      Doris Wilkins|45.0|       8213.41|              1| 7.35|     11.0|2006-09-03 06:13:55|28216 Wright Moun...|Andrews, Adams an...|    1|              19.0|  2014-01-03|[45.0,8213.41,1.0...|
|Katherine Carpenter|43.0|      11226.88|              0| 8.08|     12.0|2006-10-22 04:42:38|Unit 4948 Box 481...|Morgan, Phillips ...|    1|              18.8|  2014-10-22|[43.0,11226.88,0....|
|     Lindsay Martin|53.0|       5515.09|              0| 6.85|      8.0|2015-10-07 00:27:10|69203 Crosby Divi...|      Villanueva LLC|    1|               9.9|  2022-08-07|[53.0,5515.09,0.0...|
|        Kathy Curry|46.0|        8046.4|              1| 5.69|      8.0|2014-11-06 23:47:14|9569 Caldwell Cre...|Berry, Orr and Ca...|    1|              10.8|  2020-07-06|[46.0,8046.4,1.0,...|
+-------------------+----+--------------+---------------+-----+---------+-------------------+--------------------+--------------------+-----+------------------+------------+--------------------+
only showing top 20 rows

In [32]:
#Separate train and test data
train, test = df.select("features","Churn").randomSplit([0.7,.3])
train.show()

+--------------------+-----+
|            features|Churn|
+--------------------+-----+
|[22.0,11254.38,1....|    0|
|[26.0,8787.39,1.0...|    1|
|[26.0,8939.61,0.0...|    0|
|[28.0,9090.43,1.0...|    0|
|[28.0,11128.95,1....|    0|
|[28.0,11204.23,0....|    0|
|[28.0,11245.38,0....|    0|
|[29.0,8688.17,1.0...|    1|
|[29.0,9378.24,0.0...|    0|
|[29.0,12711.15,0....|    0|
|[29.0,13255.05,1....|    0|
|[30.0,8403.78,1.0...|    0|
|[30.0,8874.83,0.0...|    0|
|[30.0,10744.14,1....|    1|
|[30.0,10960.52,1....|    0|
|[30.0,11575.37,1....|    1|
|[30.0,12788.37,0....|    0|
|[31.0,5304.6,0.0,...|    0|
|[31.0,5387.75,0.0...|    0|
|[31.0,7073.61,0.0...|    0|
+--------------------+-----+
only showing top 20 rows

In [33]:
#Create logistic regression model
from pyspark.ml.classification import LogisticRegression
lr = LogisticRegression(featuresCol='features',labelCol='Churn')
lr_model = lr.fit(train)
results = lr_model.transform(test)
results['Churn','prediction'].show()

25/08/19 18:03:59 WARN InstanceBuilder: Failed to load implementation from:dev.ludovic.netlib.blas.VectorBLAS

+-----+----------+
|Churn|prediction|
+-----+----------+
|    0|       0.0|
|    0|       0.0|
|    0|       0.0|
|    0|       0.0|
|    0|       0.0|
|    0|       0.0|
|    0|       0.0|
|    0|       0.0|
|    0|       0.0|
|    1|       0.0|
|    0|       0.0|
|    0|       0.0|
|    0|       0.0|
|    0|       0.0|
|    0|       0.0|
|    0|       0.0|
|    0|       0.0|
|    0|       0.0|
|    1|       0.0|
|    0|       0.0|
+-----+----------+
only showing top 20 rows

In [34]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator
evaluation = BinaryClassificationEvaluator(rawPredictionCol='prediction', labelCol='Churn')
AUC = evaluation.evaluate(results)
AUC

0.7498249299719887

In [36]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
evaluation2 = MulticlassClassificationEvaluator(predictionCol='prediction', labelCol='Churn', metricName='accuracy')
ACC = evaluation2.evaluate(results)
ACC

0.8881118881118881

In [37]:
#Apply model to new unlabeled data
new_df = spark.read.csv('new_customers.csv',inferSchema=True,header=True)

In [38]:
new_df.printSchema()

root
 |-- Names: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Total_Purchase: double (nullable = true)
 |-- Account_Manager: integer (nullable = true)
 |-- Years: double (nullable = true)
 |-- Num_Sites: double (nullable = true)
 |-- Onboard_date: timestamp (nullable = true)
 |-- Location: string (nullable = true)
 |-- Company: string (nullable = true)

In [41]:
new_df['Names','Age', 'Total_Purchase', 'Account_Manager', 'Years', 'Num_Sites'].show()
new_df[ 'Onboard_date', 'Location', 'Company'].show()

+--------------+----+--------------+---------------+-----+---------+
|         Names| Age|Total_Purchase|Account_Manager|Years|Num_Sites|
+--------------+----+--------------+---------------+-----+---------+
| Andrew Mccall|37.0|       9935.53|              1| 7.71|      8.0|
|Michele Wright|23.0|       7526.94|              1| 9.28|     15.0|
|  Jeremy Chang|65.0|         100.0|              1|  1.0|     15.0|
|Megan Ferguson|32.0|        6487.5|              0|  9.4|     14.0|
|  Taylor Young|32.0|      13147.71|              1| 10.0|      8.0|
| Jessica Drake|22.0|       8445.26|              1| 3.46|     14.0|
+--------------+----+--------------+---------------+-----+---------+

+-------------------+--------------------+----------------+
|       Onboard_date|            Location|         Company|
+-------------------+--------------------+----------------+
|2011-08-29 18:37:54|38612 Johnny Stra...|        King Ltd|
|2013-07-22 18:19:54|21083 Nicole Junc...|   Cannon-Benson|
|2006-12-11 07:48:13|085 Austin Views ...|Barron-Robertson|
|2016-10-28 05:32:13|922 Wright Branch...|   Sexton-Golden|
|2012-03-20 00:36:46|Unit 0789 Box 073...|        Wood LLC|
|2011-02-04 19:29:27|1148 Tina Straven...|   Parks-Robbins|
+-------------------+--------------------+----------------+

In [42]:
new_df.describe().show()

25/08/19 18:17:42 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+-------------+------------------+-----------------+------------------+-----------------+------------------+--------------------+----------------+
|summary|        Names|               Age|   Total_Purchase|   Account_Manager|            Years|         Num_Sites|            Location|         Company|
+-------+-------------+------------------+-----------------+------------------+-----------------+------------------+--------------------+----------------+
|  count|            6|                 6|                6|                 6|                6|                 6|                   6|               6|
|   mean|         NULL|35.166666666666664|7607.156666666667|0.8333333333333334|6.808333333333334|12.333333333333334|                NULL|            NULL|
| stddev|         NULL| 15.71517313511584|4346.008232825459| 0.408248290463863|3.708737880555414|3.3862466931200785|                NULL|            NULL|
|    min|Andrew Mccall|              22.0|            100.0|                 0|              1.0|               8.0|085 Austin Views ...|Barron-Robertson|
|    max| Taylor Young|              65.0|         13147.71|                 1|             10.0|              15.0|Unit 0789 Box 073...|        Wood LLC|
+-------+-------------+------------------+-----------------+------------------+-----------------+------------------+--------------------+----------------+

In [43]:
test_new = assembler.transform(new_df)
test_new.printSchema()

root
 |-- Names: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Total_Purchase: double (nullable = true)
 |-- Account_Manager: integer (nullable = true)
 |-- Years: double (nullable = true)
 |-- Num_Sites: double (nullable = true)
 |-- Onboard_date: timestamp (nullable = true)
 |-- Location: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- features: vector (nullable = true)

In [44]:
test_new.show()

+--------------+----+--------------+---------------+-----+---------+-------------------+--------------------+----------------+--------------------+
|         Names| Age|Total_Purchase|Account_Manager|Years|Num_Sites|       Onboard_date|            Location|         Company|            features|
+--------------+----+--------------+---------------+-----+---------+-------------------+--------------------+----------------+--------------------+
| Andrew Mccall|37.0|       9935.53|              1| 7.71|      8.0|2011-08-29 18:37:54|38612 Johnny Stra...|        King Ltd|[37.0,9935.53,1.0...|
|Michele Wright|23.0|       7526.94|              1| 9.28|     15.0|2013-07-22 18:19:54|21083 Nicole Junc...|   Cannon-Benson|[23.0,7526.94,1.0...|
|  Jeremy Chang|65.0|         100.0|              1|  1.0|     15.0|2006-12-11 07:48:13|085 Austin Views ...|Barron-Robertson|[65.0,100.0,1.0,1...|
|Megan Ferguson|32.0|        6487.5|              0|  9.4|     14.0|2016-10-28 05:32:13|922 Wright Branch...|   Sexton-Golden|[32.0,6487.5,0.0,...|
|  Taylor Young|32.0|      13147.71|              1| 10.0|      8.0|2012-03-20 00:36:46|Unit 0789 Box 073...|        Wood LLC|[32.0,13147.71,1....|
| Jessica Drake|22.0|       8445.26|              1| 3.46|     14.0|2011-02-04 19:29:27|1148 Tina Straven...|   Parks-Robbins|[22.0,8445.26,1.0...|
+--------------+----+--------------+---------------+-----+---------+-------------------+--------------------+----------------+--------------------+

In [46]:
results2 = lr_model.transform(test_new)
results2.printSchema()

root
 |-- Names: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Total_Purchase: double (nullable = true)
 |-- Account_Manager: integer (nullable = true)
 |-- Years: double (nullable = true)
 |-- Num_Sites: double (nullable = true)
 |-- Onboard_date: timestamp (nullable = true)
 |-- Location: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- features: vector (nullable = true)
 |-- rawPrediction: vector (nullable = true)
 |-- probability: vector (nullable = true)
 |-- prediction: double (nullable = false)

In [49]:
results2['Company', 'Account_Manager', 'prediction'].show()

+----------------+---------------+----------+
|         Company|Account_Manager|prediction|
+----------------+---------------+----------+
|        King Ltd|              1|       0.0|
|   Cannon-Benson|              1|       1.0|
|Barron-Robertson|              1|       1.0|
|   Sexton-Golden|              0|       1.0|
|        Wood LLC|              1|       0.0|
|   Parks-Robbins|              1|       1.0|
+----------------+---------------+----------+